@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    box-sizing: border-box;
}

html,
body {
    font-family: 'Poppins', sans-serif;
    background-color: #171717;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;                 
    height: 100vh;             /* Set the height of the body to the viewport height */
    overflow: hidden;          /* Disable scrolling */
    display: flex;             /* Use flexbox to align content */
    flex-direction: column;    /* Stack the elements vertically */
  }
  
  .main {
    flex: 1;                   
    display: flex;             /* Center the content inside the main area */
    flex-direction: column;    /* Stack children vertically */
    justify-content: center;   /* Center content vertically */
    align-items: center;       /* Center content horizontally */
    text-align: center;        /* Center text */
  }
  
  footer {
    flex-shrink: 0;            
  }

.main {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.desc-text {
    color: #e5e5e5;
    font-size: 0.875rem;
}
.img{
    width: 100px;
    height: auto;
}
